[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.7"
djangorestframework = "*"
djoser = "*"
django-debug-toolbar = "*"
drf-nested-routers = "*"
django-cors-headers = "*"
mysqlclient = "*"
drf-standardized-errors = "*"
django-filter = "*"
django-rest-multiple-models = "*"
django-crispy-forms = "*"
fcm-django = "*"
django-q = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.11"
